.grid-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

/* SMALL */
.grid-container {
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h";
}

/* MEDIUM */
@media (min-width: 641px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h";
  }
}

/* LARGE */
@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a b c d"
      "e f g h";
  }
}

.card {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 10px;
}

/* HOVER EFFECT (NOT MOBILE) */
@media (min-width: 641px) {
  .card img:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
}

img {
  width: 100%;
  height: auto;
}