@media (min-width: 768px) {
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
    }

    #menuBtn {
        display: none;
    }

    #songsContainer,
    #artistsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}
