body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #111;
    color: white;
}

header {
    background: purple;
    padding: 1rem;
    text-align: center;
}

nav {
    display: none;
    flex-direction: column;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav.show {
    display: flex;
}

#menuBtn {
    background: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

section {
    padding: 20px;
}

#songsContainer div,
#artistsContainer div {
    background: #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
